body {
  font-family: "Dosis", sans-serif;
  font-family: "Open Sans", sans-serif;

  text-align: center;

  margin: 0;
  padding: 64px 0px 0px 0px;
}

#main {
  width: 626px;
  margin: 0 auto 64px;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #3f3d56;

  margin-bottom: 16px;
}

h1 span {
  color: #ee24ff;
}

#descricao {
  line-height: 22px;

  margin-bottom: 32px;
}

#descricao,
p {
  color: #828282;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

#descricao span {
  color: #3f3d56;
}

#line {
  width: 391px;
  height: 0;

  margin: 0 auto 16px;

  border: 1px solid #eceff2;
}

#footer {
  margin-bottom: 40px;
}

#footer a {
  color: #3f3d56;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 700;
  text-decoration: none;
}

#footer a + a {
  margin-left: 42px;
}

#footer img {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
}
