* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-white: #ffffff;
  --color-base-gray-100: #F4FCFF;
  --color-base-gray-500: #202024;
  --color-base-gray-600: #121214;
  --color-base-blue-100: #387E96;
  --color-base-blue-200: #065E7C;
  --color-base-input: rgba(255, 255, 255, 0.20);
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background: var(--color-base-gray-100);
}

#app {
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

header,
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  padding: 1.6rem 2.8rem;

  background: var(--color-base-blue-200);
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;

  color: white;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;

  background: var(--color-base-input);
  border: 0;
  border-radius: 0.4rem;
  height: 4rem;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-base-white);
}

.input-wrapper input::placeholder {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-base-white);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

#cover {
  width: 100%;
}

main .container,
sidebar .container {
  padding: 3rem 2.2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-base-gray-500);
}

main h1 {
  padding-bottom: .8rem;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

main button {
  background: transparent;
  border: 0;
}

main p {
  color: var(--color-base-gray-600);
  line-height: 160%;

  padding-top: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-base-gray-500);
}

sidebar h1 {
  padding-bottom: 3rem;
}

sidebar p {
  color: var(--color-base-gray-600);
  font-size: 1.4rem;
  line-height: 160%;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.4rem;
  padding: 1.6rem;
  gap: 1rem;

  background: var(--color-base-blue-200);

  color: var(--color-base-white);
  font-weight: 600;
  line-height: 100%;
}

@media (min-width: 700px) {
  #app {
    display: grid;
    grid-template-areas:
      "A A A"
      "B B C"
      "D D D";
  }

  header {
    grid-area: A;
  }

  main {
    grid-area: B;
    padding: 4.4rem;
  }

  sidebar {
    grid-area: C;
  }

  footer {
    grid-area: D;
  }
}